<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src = "script.js" type="text/javascript"></script>

</head>
<body>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/all_users">All Guest</a>
    </li>    
</ul>

<div class="container">         
    <h2 class="page_heading">All Guests</h2>    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
    <tbody>        
        <% users.forEach(function (user) { %>
            <tr>  
                <td><%= user.name %></td>  
                <td><%= user.email %></td>
                <td><%= user.mobile %></td>
                <td><%= user.address %></td>
                <td>
                    <a  href ="/user/<%= user._id %>"class="button_sub" >View</a>
                    <a  href ="/user_delete/<%= user._id %>"class="button_sub" >Delete</a>
                </td>
            </tr>                                   
         <% }) %>             
    </tbody>
    </table>
</div>
<div class="footer ftr_wrp">
    <div class="text_title"> 
        Paramount
       <p class="greet_sub">May all who enter as a guest, leave as a friend...  </p>
    </div>
</div> 
</body>
</html>